registry=https://registry.npmjs.org/

# Security
ignore-scripts=true
minimum-release-age=3d
verify-store-integrity=true
side-effects-cache=false
package-manager-strict=true
manage-package-manager-versions=true

# Strict resolution
strict-peer-dependencies=true
auto-install-peers=false
resolution-mode=time-based

# Quiet
fund=false
update-notifier=false
